<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>XMLParser</display-name>
  <servlet>
    <servlet-name>XmlTransformer</servlet-name>
    <servlet-class>com.atrium.servlet.XmlTransformer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XmlFileDownload</servlet-name>
    <servlet-class>com.atrium.servlet.XmlFileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XmlTransformer</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XmlFileDownload</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
</web-app>